.section{
  padding: 1.5rem;
  }

.card-description {
  max-height: 120px;
  overflow: hidden;
  display: inline-block;
  
}

@media screen and (min-width: 570px) {
  .form-search-job {
    display: flex;
    justify-content: center;

  }

  .field{
    margin: 0 5px;
  }
}

@media screen and (min-width: 1024px){
  .card-job{
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
  }
  
}
